{% load notifications_tags %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lee Fong</title>
    
    {% load static %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/sb_admin2/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'css/sb_admin2/metisMenu/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/sb_admin2/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'css/sb_admin2/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block css_content %}
    {% endblock %}

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html" style="color: #31708f;">企業資源管理系統</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw" id="message_list_envelope"></i> 
                        <i class="fa fa-caret-down" id="message_list_down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages" id="message_list">
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks" id="queue_progress_list">
                        {% for progress in progress_data%}
                        <li>
                            <a href="/user/helpdesk/reports/">
                                <div>
                                    <p>
                                        <strong>{{ progress.queue }}</strong>
                                        <span class="pull-right text-muted">{{ progress.rate }}% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress.rate }}%">
                                            <span class="sr-only">{{ progress.rate }}% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        {% endfor %}
                        <li>
                            <a class="text-center" href="/user/helpdesk/reports/">
                                <strong>See All Tasks</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <!-- [Commented] no specific usage for now
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    
                </li>
                -->

                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/user/index.html"><i class="fa fa-user fa-fw"></i> 使用者主頁面</a>
                        </li>
                        <li><a href="/admin/"><i class="fa fa-gear fa-fw"></i> 管理後台</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/logout/"><i class="fa fa-sign-out fa-fw"></i> 登出<!--Logout--></a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/user/index.html"><i class="fa fa-dashboard fa-fw"></i> 關注資訊<!--Dashboard--></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-ticket fa-fw"></i> 事項追蹤<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/user/helpdesk/dashboard/">事項面板</a>
                                </li>
                                <li>
                                    <a href="/user/helpdesk/tickets/">事項列表</a>
                                </li>
                                <li>
                                    <a href="/user/helpdesk/tickets/submit/">開創事項</a>
                                </li>
                                <li>
                                    <a href="/user/helpdesk/reports/">事項統計</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> 工作協助<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">結帳工作 <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="/user/supplier_account/">廠商月結</a>
                                        </li>
                                        <li>
                                            <a href="/user/supplier_account_rule/">更新月結規則</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">銷售工作 <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="/user/goods_sell_stats_direct.html">商品銷售統計</a>
                                        </li>
                                        <li>
                                            <a href="/user/promotion.html">目前促銷</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                                <li>
                                    <a href="#">廣告管理 <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="/user/advertisement_mgmt.html">當前廣告</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-database fa-fw"></i> 資料庫管理<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/user/database_backup.html">資料庫備份</span></a>
                                </li>
                                <li>
                                    <a href="/user/database_manipulation.html">會員卡資料</span></a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-motorcycle fa-fw"></i> 系統巡查<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/user/bug_member.html"> 會員資料巡查</span></a>
                                </li>
                                <li>
                                    <a href="/user/bug_goods.html"> 商品資料巡查</span></a>
                                </li>
                                <li>
                                    <a href="/user/routine_programs.html"> 定期程序</span></a>
                                </li>
                                <li>
                                    <a href="/user/view_operating_log.html"> 操作紀錄</span></a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bank fa-fw"></i> 分店工作<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/user/clerk_jobs.html"> 員工工作</span></a>
                                </li>
                                <li>
                                    <a href="/user/send_clerk_message.html"> 發送提醒</span></a>
                                </li>
                                <li>
                                    <a href="/user/store_maintenance_mgmt.html"> 分店報修</span></a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        {% block page_content %}
                        {% endblock %}
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static 'css/sb_admin2/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'css/sb_admin2/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'css/sb_admin2/metisMenu/metisMenu.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'css/sb_admin2/sb-admin-2.js' %}"></script>

    <!-- Thirdparty JS Cookie Library -->
    <script src="{% static 'javascripts/vendor/js.cookie.js' %}"></script>

    <!-- Notification JavaScript -->
    <script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
    <script>

        function load_queue_progress() {
            $.ajax({
                url: '/get_queue_progress/',
                type: 'POST',
                data: {
                  csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function(data) {
                    $('#queue_progress_list').empty();
                    for (var i=0; i < data.length; i++) {
                        $('#queue_progress_list').append(
                            $('<li>').append(
                                $('<a>').attr('href', "/user/helpdesk/reports/").append(
                                    $('<div>').append(
                                        $('<p>').append(
                                            $('<strong>').append(data[i]['queue']),
                                            $('<span>').attr('class', "pull-right text-muted").append(data[i]['rate']+'% Complete')
                                        ),
                                        $('<div>').attr('class', "progress progress-striped active").append(
                                            $('<div>').attr('class', "progress-bar progress-bar-success").attr('role', "progressbar").attr('aria-valuenow', data[i]['rate']).attr('aria-valuemin', "0").attr('aria-valuemax', "100").attr('style', "width:"+data[i]['rate']+"%").append(
                                                    $('<span>').attr('class', "sr-only").append(
                                                        data[i]['rate']+'% Complete (success)'
                                                    )
                                            )
                                        )
                                    )
                                )
                            ),
                            $('<li>').attr('class', "divider")
                        );
                    }
                }
            });
        }

        function load_unread_messages(data) {
            $('#message_list').empty()
            if(data.unread_list.length > 0){
                $('#message_list_envelope').css({'color':'#FE642E'});
                $('#message_list_down').css({'color':'#FE642E'});
            }
            for (var i=0; i < data.unread_list.length; i++) {
                msg = data.unread_list[i];
                var href_data = '#';
                var msg_data = JSON.parse(msg.data);
                if(msg_data && msg_data['href']){
                    href_data = msg_data['href'];
                }
                $('#message_list').append(
                    $('<li class="unread_message">').attr('name', 'unread_msg_'+msg.id).append(
                        $('<a>').attr('href',href_data).append(
                            $('<div>').attr('name', 'unread_msg_'+msg.id).append(
                                $('<strong>').attr('name', 'unread_msg_'+msg.id).append(msg.actor),
                                $('<span>').attr('name', 'unread_msg_'+msg.id).attr('class','pull-right text-muted').append(
                                    $('<em>').attr('name', 'unread_msg_'+msg.id).append(msg.timestamp)
                                )
                            ),
                            $('<div>').attr('name', 'unread_msg_'+msg.id).append(msg.verb)
                        )
                    )
                );
                if(i < data.unread_list.length-1){
                    $('#message_list').append('<li class="divider"></li>');
                }
            } 
        }

        $(document).ready(function(){
            $('li').click(function(e) {
                if($(event.target).attr('name') && $(event.target).attr('name').match('^unread_msg')){
                    var msg_id = $(event.target).attr('name').split(/[_]+/).pop();
                    var csrftoken = Cookies.get('csrftoken');
                    var li = $(event.target).closest('li'); // find parent li
                    var divider = li.next('li.divider');  // find the divider below
                    console.log(divider);
                    $.ajax({
                        url : "/mark_read_notification/", // the endpoint
                        type : "POST", // http method
                        data : {'id':msg_id}, // data sent with the post request
                        beforeSend: function(xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        },
                        // handle a successful response
                        success : function(json) {
                            // if success, remove the item from message_list
                            li.remove();
                            // remove the divider as well
                            divider.remove()
                            console.log("success"); // another sanity check
                        },
                        // handle a non-successful response
                        error : function(xhr,errmsg,err) {
                            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                        }
                    });
                }
            });
        });

    </script>

    {% register_notify_callbacks fetch=7 refresh_period=30 callbacks='fill_notification_list,fill_notification_badge,load_unread_messages,load_queue_progress' %}

    {% block javascript_content %}
    {% endblock %}

</body>

</html>